:root {
  font-size: 16px;
  font-family: "Oswald";
  --nav-font: "Crete Round";
  --logo-bgcolor: #000000;
  --logo-color: #ffffff;
  --nav-bgcolor: #20207c;
  --nav-color: #dad9e0;
  --nav-hover-color: #ffffff;
  --nav-hover-bgcolor: #120347;
  --sub-nav-bgcolor: #9694a0;
  --text-primary: #000000;
  --text-secondary: #26252e;
  --bg-primary: #f5f5fa;
  --transition-speed: 900ms;
}
body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #a79dc5;
}

body::-webkit-scrollbar-thumb {
  background: #5151db;
}

.nav-item {
  display: flex;
  height: 4rem;
  text-align: center;
  border-width: 0.25rem;
  border-left-color: rgb(18, 13, 83);
  border-bottom-color: rgb(18, 13, 83);
}

.nav-button:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--nav-hover-bgcolor);
  color: var(--nav-hover-color);
}

sub-nav b {
  list-style: none;
  display: none;
}

.nav-text {
  padding: 0.3rem;
}

.nav-info {
  padding: 0.3rem;
}

/* -----------------------------------------*/
@media only screen and (max-width: 825px) {
  .nav-text {
    display: none;
  }
  #save-icon {
    display: inline;
  }
}
@media only screen and (min-width: 825px) {
  #save-icon {
    display: none;
  }
}

container {
  display: flex;
  flex-direction: column;
}

main {
  padding: 0;
  margin-top: 5rem;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#div_content {
  width: 95%;
  height: 95%;
}

#contentFrame {
  width: 100%;
  height: 100%;
}

settings {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  background-color: var(--nav-bgcolor);
  color: var(--nav-color);
  transition: width 600ms ease;
  width: 3.2rem;
  height: 3rem;
  z-index: 1;
}
support {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  background-color: var(--nav-bgcolor);
  color: var(--nav-color);
  transition: width 600ms ease;
  width: 3.2rem;
  height: 3rem;
  z-index: 1;
}

nav {
  position: fixed;
  background-color: var(--nav-bgcolor);
  color: var(--nav-color);
  text-transform: uppercase;
  height: 3.5rem;
  width: 100%;
}

.nav-item {
  height: 3rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.blk_buttons {
  height: 30px;
  font-weight: bold;
  margin: 5px;
  width: 100px;
  background-color: black;
  color: #9a1b1e;
  border-radius: 10px;
}
.red_buttons {
  height: 30px;
  font-weight: bold;
  margin: 5px;
  background-color: #9a1b1e;
  color: white;
  border-radius: 10px;
}
#expire {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  background: white;
  padding: 50px;
  border: 7px double gray;
  color: #9a1b1e;
  text-align: center;
  font-size: 20px;
}
#identify_student {
  width: 550px;
  height: 450px;
  border-radius: 10px;
  background: white;
  padding: 50px;
  border: 7px double gray;
  top: 0%;
}
.prompt {
  background-color: white;
  width: 50%;
  padding: 50px;
  border: 7px double gray;
  border-radius: 10px;
}
.buffer {
  margin: 10px;
}
p {
  color: #9a1b1e;
  font-size: 20px;
  text-align: center;
}
.help_message {
  color: #9a1b1e;
  font-size: 20px;
  margin: 2rem;
  text-align: justify;
}
.form_inputs {
  background-color: #e8e8e8;
  color: #9a1b1e;
  border: 3px solid #9a1b1e;
  height: 12px;
  padding: 10px;
  border-radius: 7px;
}
.help-row {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.help-column {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.display-font {
  color: var(--exit-display);
}

.dark {
  --logo-bgcolor: #000000;
  --logo-color: #ffffff;
  --nav-bgcolor: #38383b;
  --nav-color: #cfcfd4;
  --nav-hover-color: #ded2e0;
  --nav-hover-bgcolor: #1f1b2e;
  --sub-nav-bgcolor: #5b5b5c;
  --text-primary: #e8e7e9;
  --text-secondary: #26252e;
  --bg-primary: #0c0c1d;
  --exit-display: #ffffff;
}

.light {
  --logo-bgcolor: #080125;
  --logo-color: #ffffff;
  --nav-bgcolor: #9a1b1e;
  --nav-color: #ffffff;
  --nav-hover-color: #ffffff;
  --nav-hover-bgcolor: #120347;
  --sub-nav-bgcolor: #e3e1ec;
  --text-primary: #000000;
  --text-secondary: #26252e;
  --bg-primary: #ffff;
  --exit-display: #000000;
}
